.container-login{
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 100vh;
}

#login-page{
    width: 50%;
    display: flex;
    min-height: 300px;
    border: 1px solid #ccc;
    margin: 0 auto;
    justify-content: center;
    border-radius: 10px;
    padding: 50px;
}
